<h1> EDA ON Employee_Payroll Dataset</h1>

In [1]:
# Importing important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import math as m
import statsmodels.stats.api as sm
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("Employee_Payroll - Employee_Payroll - Employee_Payroll - Employee_Payroll.csv")
df

,Fiscal Quarter,Fiscal Period,First Name,Last Name,Middle Init,Bureau,Office,Office Name,Job Code,Job Title,Base Pay,Position ID,Employee Identifier,Original Hire Date
0,1,2016Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172.0,Assistant State's Attorney,"$20,088.00",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
1,2,2016Q2,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172.0,Assistant State's Attorney,"$23,436.00",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
2,3,2016Q3,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172.0,Assistant State's Attorney,"$20,422.82",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
3,4,2016Q4,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172.0,Assistant State's Attorney,"$23,904.80",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
4,1,2017Q1,AMRITH,AAKRE,K,State's Attorney,1250.0,STATES ATTORNEY,1172.0,Assistant State's Attorney,"$20,745.80",9510200.0,6ac7ba3e-d286-44f5-87a0-191dc415e23c,05/16/2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44478,3,2017Q3,VANESSA,ECHOLS,D,Chief Judge,1280.0,ADULT PROBATION DEPT.,907.0,Clerk V,"$11,954.80",9512130.0,c226c292-981b-4134-86ab-2d57d0c93168,07/22/1996
44479,3,2017Q3,RHONDA,ECHOLS,E,Chief Judge,1313.0,SOCIAL CASEWORK SERVICES,1531.0,Social Caseworker I,"$12,866.17",9514361.0,7e5b8a1d-274e-4c3d-8c9c-beee7bff8d6e,01/10/2000
44480,3,2017Q3,ANGELINA,ECHOLS,NaN,Clerk of Circuit Ct.,1335.0,CLERK OF CRCT CRT OFF. OF CLER,907.0,Clerk V,"$11,281.45",9515171.0,0719b501-c17f-4da9-aba2-f8e25bf525b9,02/01/1999
44481,3,2017Q3,HELEN,ECHOLS,NaN,Bureau of Health,4897.0,STROGER HOSPITAL OF COOK CNTY,6824.0,Bldng Srvc Wrkr SEIU 73),"$9,519.60",9521612.0,2bd6e781-1d90-4405-914e-d03a662fdfa4,01/02/2001
44482,3,2017Q3,ELIZABETH,ECHOLS,T,Bureau of Healt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. Remove the **'$'** and **‘,’** signs from the **'Base Pay'** column and change the column's data type to float (Use pandas for this and not excel)

In [3]:
df["Base Pay"]=df["Base Pay"].str.replace("$","")
df["Base Pay"]=df["Base Pay"].str.replace(",","")

In [4]:
df.dtypes

Fiscal Quarter           int64
Fiscal Period           object
First Name              object
Last Name               object
Middle Init             object
Bureau                  object
Office                 float64
Office Name             object
Job Code               float64
Job Title               object
Base Pay                object
Position ID            float64
Employee Identifier     object
Original Hire Date      object
dtype: object

In [5]:
df["Base Pay"]=df["Base Pay"].astype("float")
df['Original Hire Date'] = pd.to_datetime(df['Original Hire Date'])
df.dtypes

Fiscal Quarter                  int64
Fiscal Period                  object
First Name                     object
Last Name                      object
Middle Init                    object
Bureau                         object
Office                        float64
Office Name                    object
Job Code                      float64
Job Title                      object
Base Pay                      float64
Position ID                   float64
Employee Identifier            object
Original Hire Date     datetime64[ns]
dtype: object

In [6]:
df.isnull().sum()

Fiscal Quarter             0
Fiscal Period              0
First Name                 0
Last Name                  0
Middle Init            17614
Bureau                     0
Office                   443
Office Name              443
Job Code                   1
Job Title                  1
Base Pay                   1
Position ID                1
Employee Identifier        1
Original Hire Date         1
dtype: int64

In [7]:
df = df.dropna(subset=['Office'])
df = df.dropna(subset=['Base Pay'])
df = df.dropna(subset=['Position ID'])

2. Create a column 'Fiscal Year' in which you will get the 'Fiscal Year' from the 'Fiscal Period' column.

In [8]:
df["Fiscal Year"] = df["Fiscal Period"].str[:4]
df["Fiscal Year"] = df["Fiscal Year"].astype("int")

3. Remove the columns ‘Middle Init’, ’Office’, ’Job Code’, and ‘Position ID’ from the DataFrame.

In [9]:
df.drop(columns=['Middle Init','Office','Job Code','Position ID'],inplace=True)

4. Get the count of unique values for the columns 'Fiscal Year', ' Office Name', 'Job Title', and 'Bureau'

In [21]:
print("Unique values Fiscal Year:", df['Fiscal Year'].nunique())
print("Unique values Office Name:", df['Office Name'].nunique())
print("Unique values Job Title:", df['Job Title'].nunique())
print("Unique values Bureau:", df['Bureau'].nunique())

Unique values Fiscal Year: 2
Unique values Office Name: 81
Unique values Job Title: 1115
Unique values Bureau: 23

7. How many Job Titles contain 'Service' in it?

In [22]:
b= df['Job Title'].str.contains('Service')
a= b.sum()
print("num_service_titles",a)

num_service_titles 647

8. Print the Highest 'Base Pay' of every 'Office Name'.

In [13]:
df.groupby('Office Name')['Base Pay'].max()

Office Name
ADMINISTRATIVE HEARING BOARD      13336.66
ADULT PROBATION DEPT.             31928.40
AMBULATORY COMMUNITY HLTH NTWK    74039.00
BOARD OF REVIEW                   33387.20
BOH SERVICES CORE CENTER          65414.75
                                    ...
TECHNOLOGY POLICY AND PLANNING    37866.08
TENTH DISTRICT                    14807.66
THIRD DISTRICT                    28445.41
THIRTEENTH DISTRICT               24648.33
TWELFTH DISTRICT                  25398.45
Name: Base Pay, Length: 81, dtype: float64

9. Create a Dataframe having 'Original Hire Date' as its index and  'Job Title' and 'Base pay' are columns

In [14]:
df1 = df.set_index('Original Hire Date')[['Job Title','Base Pay']]
df1

                                      Job Title  Base Pay
Original Hire Date
2005-05-16           Assistant State's Attorney  20088.00
2005-05-16           Assistant State's Attorney  23436.00
2005-05-16           Assistant State's Attorney  20422.82
2005-05-16           Assistant State's Attorney  23904.80
2005-05-16           Assistant State's Attorney  20745.80
...                                         ...       ...
1991-07-29          Licensed Practical Nurse II  15641.50
1996-07-22                              Clerk V  11954.80
2000-01-10                  Social Caseworker I  12866.17
1999-02-01                              Clerk V  11281.45
2001-01-02             Bldng Srvc Wrkr SEIU 73)   9519.60

[44040 rows x 2 columns]

10. Find the average 'Base pay' of every 'Fiscal Year’.

In [15]:
df.groupby('Fiscal Year')['Base Pay'].mean()

Fiscal Year
2016    16756.441697
2017    17705.397211
Name: Base Pay, dtype: float64

11 Create 3 DataFrames 'df_2016', 'df_2017', and 'df_2018' where each dataframe will contain data only from those 'Fiscal Year’.

In [16]:
df_2016 = df["Fiscal Year"][df["Fiscal Year"] == 2016]
df_2017 = df["Fiscal Year"][df["Fiscal Year"] == 2017]
df_2018 = df["Fiscal Year"][df["Fiscal Year"] == 2018]

print(df_2016)
print(df_2017)
print(df_2018)

0        2016
1        2016
2        2016
3        2016
7        2016
         ...
44461    2016
44462    2016
44463    2016
44464    2016
44465    2016
Name: Fiscal Year, Length: 22520, dtype: int64
4        2017
5        2017
6        2017
11       2017
12       2017
         ...
44477    2017
44478    2017
44479    2017
44480    2017
44481    2017
Name: Fiscal Year, Length: 21520, dtype: int64
Series([], Name: Fiscal Year, dtype: int64)

12. Get all the details where 'Job Title' is 'Operating Engineer II' and the 'Base Pay' is less than 29000 and greater than 25000

In [17]:
df_filtered = df[(df['Job Title'] == 'Operating Engineer II') & (df['Base Pay'] < 29000) & (df['Base Pay'] > 25000)]
print(df_filtered)

       Fiscal Quarter Fiscal Period First Name Last Name  \
10398               2        2016Q2      BRIAN    BARRON
10420               4        2016Q4      BRIAN    BARRON
10445               2        2017Q2      BRIAN    BARRON
10466               4        2017Q4      BRIAN    BARRON
31184               2        2016Q2      KEVIN   COLLINS
31276               4        2016Q4      KEVIN   COLLINS
31363               2        2017Q2      KEVIN   COLLINS
31444               4        2017Q4      KEVIN   COLLINS
39381               4        2017Q4    MICHAEL   DENNEHY
44244               2        2016Q2    MATTHEW    EARLEY
44250               4        2016Q4    MATTHEW    EARLEY
44256               2        2017Q2    MATTHEW    EARLEY
44262               4        2017Q4    MATTHEW    EARLEY

                      Bureau                    Office Name  \
10398  Facilities Management       DEPT. OF FACILITIES/MGMT
10420  Facilities Management       DEPT. OF FACILITIES/MGMT
10445  Facilities Management       DEPT. OF FACILITIES/MGMT
10466  Facilities Management       DEPT. OF FACILITIES/MGMT
31184  Facilities Management       DEPT. OF FACILITIES/MGMT
31276  Facilities Management       DEPT. OF FACILITIES/MGMT
31363  Facilities Management       DEPT. OF FACILITIES/MGMT
31444  Facilities Management       DEPT. OF FACILITIES/MGMT
39381  Facilities Management       DEPT. OF FACILITIES/MGMT
44244       Bureau of Health  STROGER HOSPITAL OF COOK CNTY
44250       Bureau of Health  STROGER HOSPITAL OF COOK CNTY
44256       Bureau of Health  STROGER HOSPITAL OF COOK CNTY
44262       Bureau of Health  STROGER HOSPITAL OF COOK CNTY

                   Job Title  Base Pay                   Employee Identifier  \
10398  Operating Engineer II  26566.40  28cf5110-2bb2-470d-abd8-154cca28eead
10420  Operating Engineer II  26566.40  28cf5110-2bb2-470d-abd8-154cca28eead
10445  Operating Engineer II  26566.40  28cf5110-2bb2-470d-abd8-154cca28eead
10466  Operating Engineer II  27098.40  28cf5110-2bb2-470d-abd8-154cca28eead
31184  Operating Engineer II  26566.40  47b0f6e9-4b59-448c-99da-46e1eb2989de
31276  Operating Engineer II  26566.40  47b0f6e9-4b59-448c-99da-46e1eb2989de
31363  Operating Engineer II  26566.40  47b0f6e9-4b59-448c-99da-46e1eb2989de
31444  Operating Engineer II  27098.40  47b0f6e9-4b59-448c-99da-46e1eb2989de
39381  Operating Engineer II  27098.40  49f79a64-5a0e-4032-afff-182c5f442628
44244  Operating Engineer II  25801.66  2778f8b6-43fe-4bd6-b518-494a492c614d
44250  Operating Engineer II  25581.10  2778f8b6-43fe-4bd6-b518-494a492c614d
44256  Operating Engineer II  26140.39  2778f8b6-43fe-4bd6-b518-494a492c614d
44262  Operating Engineer II  27050.02  2778f8b6-43fe-4bd6-b518-494a492c614d

      Original Hire Date  Fiscal Year
10398         1996-07-08         2016
10420         1996-07-08         2016
10445         1996-07-08         2017
10466         1996-07-08         2017
31184         1986-07-14         2016
31276         1986-07-14         2016
31363         1986-07-14         2017
31444         1986-07-14         2017
39381         1993-08-09         2017
44244         2008-08-04         2016
44250         2008-08-04         2016
44256         2008-08-04         2017
44262         2008-08-04         2017

13. Concat the above 3 Dataframes created  'df_2016', 'df_2017', and 'df_2018', to create a new DataFrame.

In [18]:
df_combined = pd.concat([df_2016, df_2017, df_2018])
print(df_combined)

0        2016
1        2016
2        2016
3        2016
7        2016
         ...
44477    2017
44478    2017
44479    2017
44480    2017
44481    2017
Name: Fiscal Year, Length: 44040, dtype: int64

14. Get all the details of Employees whose 'Base Pay' is the minimum or 'Base Pay' is the maximum

In [19]:
min_pay = df['Base Pay'].min()
max_pay = df['Base Pay'].max()

df_fil = df[(df['Base Pay'] == min_pay) | (df['Base Pay'] == max_pay)]
print(df_fil)

       Fiscal Quarter Fiscal Period First Name Last Name            Bureau  \
1383                4        2016Q4    MUNEEZA      AFIF  Bureau of Health
20287               2        2017Q2       SEAN    BRYANT  Bureau of Health

                          Office Name                  Job Title   Base Pay  \
1383   AMBULATORY COMMUNITY HLTH NTWK     Attending Physician VI  -19562.15
20287   STROGER HOSPITAL OF COOK CNTY  Attending Physician IX-SC  179589.32

                        Employee Identifier Original Hire Date  Fiscal Year
1383   7e5eab7f-a079-4747-9cd6-ecb2b0dd7ebc         2012-07-01         2016
20287  09199b7a-84ba-4d36-bd56-4a6b02df1851         2004-07-12         2017

15. For each ‘Office Name’ and ‘Job Title’  find the first and second highest  'Base Pay'  salary.

In [20]:
df.groupby(['Office Name', 'Job Title'])['Base Pay'].nlargest(2)

Office Name                   Job Title
ADMINISTRATIVE HEARING BOARD  Administrative Assistant III   10095    13336.66
                                                             10046    13336.64
                              Administrative Hearings Clerk  19656     8859.89
                                                             19520     7594.20
ADULT PROBATION DEPT.         Admin Assistant I              10969    14987.03
                                                                        ...
THIRTEENTH DISTRICT           Commissioners Staff            27756    22507.66
TWELFTH DISTRICT              Aide to the Commissioner II    26707    25398.45
                                                             26710    25398.45
                              Commissioners Staff            26705    24593.73
                                                             26703    24111.50
Name: Base Pay, Length: 3274, dtype: float64